In [2]:
#импорт pandas
import pandas as pd

#Версия Pandas
pd.__version__

'2.2.3'

In [4]:
#Создание таблицы типа Series:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [5]:
#Доступ к данным в Series
countries.loc[] #По значению
countries.iloc[] #По индексу

SyntaxError: invalid syntax (2425275923.py, line 2)

In [6]:
#Создание DataFrame
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'] #Добавление индекса (столбца в начало)
countries_df.loc['RU', ['area']] #Обращение значениям (RU - строка, area - столбец)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [ ]:
#Основные функции Pandas

axis = 1 (0)                # Параметр отвечающий за столбцы (1) и строки (0)

type(countries_df)          #Тип данных

.head()                     #Возвращает n первых значений

.tail()                     #Возвращает n последних значений

.describe()                 #просмотр статистических свойств

.value_counts()             #Частота для каждого уникального значения
normalize = True #(вывод в долях)

.count()	                #Количество непустых значений

.mean()	                    #Среднее значение

.min()	                    #Минимальное значение

.max()	                    #Максимальное значение

.var()	                    #Дисперсия

.std()	                    #Стандартное отклонение

.sum()	                    #Сумма

.quantile(x)	            #Квантиль уровня x

.nunique()	                #Число уникальных значений

.mode()                      #Самое распространенное значение в столбце

.copy()                     #Копирование 

drop(['index', 'Coordinates'], axis=1)    #Удаление элементов


apply()   #Передача функции например 
melb_df['Address'].apply(get_street_type) #например 

nlargest() #возврат n наибольших значений nlargest(10), nlargest(125), nlargest(49)

.astype('category') #Изменение типа (например 'object' на 'category)

In [ ]:
#Даты

pandas.to_datetime(melb_df['Date'], dayfirst=True)        #Преобразование дат

#Функции  дат
.dt.date    #дата;
.dt.year, .dt.month, .dt.day #год, месяц, день;
.dt.time #время;
.dt.hour, .dt.minute, .dt.second #час, минута, секунда;
.dt.dayofweek  #номер дня недели, от 0 до 6, где 0 — понедельник, 6 — воскресенье;
.dt.day_name  #название дня недели;
.dt.dayofyear  #порядковый день года;
.dt.quarter #квартал (интервал в три месяца).

In [ ]:
#Запись

to_excel() #запись DataFrame в формат Excel-таблицы (.xlsx);
to_json() #запись DataFrame в формат JSON (.json);
to_xml() #запись DataFrame в формат XML-документа (.xml);
to_sql() # запись DataFrame в базу данных SQL (для реализации этого метода необходимо установить соединение с базой данных).

In [ ]:
#Чтение

read_excel() #чтение из формата Excel-таблицы (.xlsx) в DataFrame;
read_json() #чтение из формата JSON (.json) в DataFrame;
read_xml() #чтение из формата XML-документа (.xml) в DataFrame;
read_sql() #чтение из базы данных SQL в DataFrame (также необходимо установить соединение с базой данных).