In [4]:
#Данные о скольких студентах содержатся в таблице?
import pandas as pd
students_performance = pd.read_csv('data/students_performance.csv', sep=',')

In [8]:
students_performance.value_counts()

gender  race/ethnicity  parental level of education  lunch         test preparation course  math score  reading score  writing score
male    group E         some high school             standard      none                     94          88             78               1
female  group A         associate's degree           free/reduced  none                     37          57             56               1
                                                                                            41          51             48               1
                                                                                            65          85             76               1
                                                     standard      completed                55          65             62               1
                                                                                                                                       ..
                        high school                  standard      completed                68          80             76               1
                                                     free/reduced  completed                77          88             85               1
                                                                                            53          50             60               1
                                                                                            34          48             41               1
                        bachelor's degree            standard      none                     59          72             70               1
Name: count, Length: 1000, dtype: int64

In [49]:
#Каков балл по письму у студента под индексом 155?
display(students_performance.loc[155])

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [50]:
#Сколько суммарно пропущенных значений в таблице?
display(students_performance.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

In [51]:
students_performance.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [52]:
#Какой объём памяти (в килобайтах) занимает таблица?
display(students_performance.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

In [53]:
#Каков у студентов средний балл по математике?
students_performance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [62]:
#Какая расовая группа является самой крупной в учебном заведении?
display(students_performance['race/ethnicity'].value_counts(normalize=True))
#Решение 2
display(students_performance['race/ethnicity'].mode())

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64

0    group C
Name: race/ethnicity, dtype: object

In [64]:
#Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
round(students_performance[students_performance['test preparation course'] == 'completed']['reading score'].mean())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
996,male,group C,high school,free/reduced,none,62,55,55
999,female,group D,some college,free/reduced,none,77,86,86

In [69]:
#Сколько студентов получили 0 баллов по математике?
round(students_performance[students_performance['math score'] == 0].shape[0])

1

In [74]:
#Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
#В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
display(students_performance[students_performance['lunch'] == 'standard']['math score'].mean())
display(students_performance[students_performance['lunch'] == "free/reduced"]['math score'].mean())

np.float64(70.03410852713178)

np.float64(58.92112676056338)

In [81]:
#Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
students_performance["parental level of education"].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [86]:
#Насколько медианный балл по письму у студентов в расовой группе А 
# отличается от среднего балла по письму у студентов в расовой группе C?
mask1 = students_performance[students_performance['race/ethnicity'] == 'group A']['writing score'].median()
mask2 = students_performance[students_performance['race/ethnicity'] == 'group C']['writing score'].median()
display(mask1 - mask2)

np.float64(-6.0)